/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "space mono", "Helvetica Neue", sans-serif; }
text { color: black }
a { color: black}
body { background-color: #e6f4f7}

.form-container {
    display: flex;
    justify-content: center;
}

.form-style-3{
	max-width: 450px;
    border: 3px solid #efb9cb;
    border-radius: 20px;


}
.form-style-3 label{
	display:block;
	margin-bottom: 10px;
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	color: #006064;
    font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
	border-radius: 50px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	padding: 20px;
}

.required{
	color:red;
	font-weight:normal;
}