nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E2DBD3;
    padding: 10px;
  }
  
  nav img {
    height: 50px;
  }
  nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
  }
  
  nav button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    color: #333;
  }
  
  .user-form {
    display: flex;
    align-items: center;
  }
  
  .user-form form {
    display: flex;
    align-items: center;
  }
  
  .user-form label {
    margin-right: 5px;
  }
  
  .user-form input {
    margin-right: 5px;
  }
  
  .user-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
  }
  
  .container{
    margin:10px
  }
  
  