<nav>
  <a [routerLink]="['/']"><img src="../assets/wardrop_logo.png" alt="Logo"></a>
  <a [routerLink]="['/']">Category</a> 
  <button [routerLink]="['/add']">Add new clothes</button>
  <button (click)="callGDrive()">Add OOTD</button>
  <div class="userForm">
    <form [formGroup]="userForm" (ngSubmit)="saveUser()">
      <label>User: </label>
      <input formControlName="userName">
      <button type="submit"> save</button>
    </form>
    
  </div>
  
</nav>
<br>
<div>
  <i> Current user: {{ user }} </i>
  
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>