

<div class="form-container">
<img [src]="photoUrl" width = "200px">

<div class = "form-style-3">
<form enctype="multipart/form-data" (ngSubmit)="processForm()" method="post" [formGroup] ="addForm">
    
    <label >Description: </label>
    <input type="text" formControlName="description">
<br>
    <label >Price: </label>
    <input type='number' step='0.01' placeholder='0.00' min="0.00" formControlName="price" />
<br>
    <label >Date purchased: </label>
    <input type='date' formControlName="purchaseOn"/>
<br>
    <label>Time worn: </label>
    <input type="number" min="0" formControlName="timeWorn">
<br>
    <label> Category</label>
    <select name="" id="" formControlName="category">
        <option value="top">Top</option>
        <option value="bottom">Bottom</option>
        <option value="one-piece">One-piece</option>
        <option value="outerwear">Outerwear</option>
        <option value="shoes">Shoes</option>
        <option value="accessories">Accessories</option>

    </select>
<br>
    <button type="submit">Save</button>
</form>
</div>

</div>