.parent-float { 
    width: 100%; 
    min-height: 40px

} 
.child-float { 
    float: left; 
    width: 50%; 
    min-height: 40px
} 

.mat-icon {
    
    color: #e7c0B4;
    display: inline-block;
    float: right;
    margin-right: 50px;
    height: 30px;
    width: 30px;
    overflow: hidden;
}

.item-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row {
    width: 100%;
    justify-content: space-between;
  }
  
  .col {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .individualItem {
    height: 300px; /* Adjust the height as needed */
  }
  