.parent-float { 
    width: 100%; 
    min-height: 40px

} 
.child-float { 
    float: left; 
    width: 50%; 
    min-height: 40px
} 

.mat-icon {
    
    color: #e7c0B4;
    display: inline-block;
    float: right;
    margin-right: 50px;
    height: 30px;
    width: 30px;
    overflow: hidden;
}

.item-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
  }
  
  
  .individualItem {
    flex-basis: 33.33%; 
    flex-grow: 0; 
    flex-shrink: 0; 
    min-height: 500px; 
    padding: 10px;
  }
  
  img {
    height: 200px;
  }

  p {
    text-align: center;
    padding-top: 50px;
  }

  form {
    padding-right: 10px;
  }

