.image-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .individualOOTD {
    flex-basis: 33.33%; 
    flex-grow: 0; 
    flex-shrink: 0; 
    min-height: 500px; 
    padding: 10px;
  }

  #ootdCarousel {
    width: 50vw; 
    height: auto; 
    margin: 0 auto; 
  }
  
  .carousel-inner {
    width: 100%;
    height: 100%;
  }
  
  .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  mat-icon {
    color: #e7c0B4;
    width: 24px;
    height: 24px;

}

toggle-icons{
    float: right;

}
  