<div class = "category">
    <a [routerLink]="['/category', 'top']"> Tops</a>
</div>
<div class = "category">
    <a [routerLink]="['/category', 'bottom']"> Bottom</a>

</div>
<div class = "category">
    <a [routerLink]="['/category', 'one-piece']"> One-piece</a>

</div>
<div class = "category">
    <a [routerLink]="['/category', 'outerwear']"> Outer wear</a>

</div>
<div class = "category">
    <a [routerLink]="['/category', 'shoes']"> Shoes</a>

</div>
<div class = "category">
    <a [routerLink]="['/category', 'accesories']"> Accesories</a>

</div>