<div class="container">
    <div class="row align-items-center categoryrow">
      <div class="col category">
        <mat-card [routerLink]="['/category', 'top']" >
            <img mat-card-image src="../../assets/top.png">
            
            <button mat-button> TOP</button>
    
        </mat-card>
    
        
      </div>
      <div class="col category">
        <mat-card [routerLink]="['/category', 'bottom']">
            <img mat-card-image src="../../assets/bottom.png" >
            
            <button mat-button> BOTTOM</button>
    
        </mat-card>
    
       
      </div>
      <div class="col category">
        <mat-card [routerLink]="['/category', 'one-piece']">
            <img mat-card-image src="../../assets/one-piece.png">
            
            <button mat-button> ONE-PIECE</button>
        </mat-card>    
    
      </div>
    </div>
  </div>

<br>

<div class="row align-items-center categoryrow">
  <div class="col category">
    <mat-card [routerLink]="['/category', 'outerwear']" >
        <img mat-card-image src="../../assets/outerwear.png">
        
        <button mat-button> OUTERWEAR</button>

    </mat-card>

    
  </div>
  <div class="col category">
    <mat-card [routerLink]="['/category', 'shoes']">
        <img mat-card-image src="../../assets/shoes.png" >
        
        <button mat-button> SHOES</button>

    </mat-card>

   
  </div>
  <div class="col category">
    <mat-card [routerLink]="['/category', 'accesories']">
        <img mat-card-image src="../../assets/accessories.png">
        
        <button mat-button> ACCESSORIES</button>
    </mat-card>    

  </div>
</div>


 
